@tailwind base;
@tailwind components;
@tailwind utilities;
 
.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0;
}

 

body { 
    background: none;
}

div {
    background: none;
}

main {
    background: none;
}
html{
    background:  none;
}